/* Base Styles */
.App {
  text-align: left;
  background-color: #f5e0c3; /* Warm beige background for a cozy look */
  font-family: 'Pacifico', Arial, sans-serif; /* Fun, decorative font */
  color: #2d3748; /* Dark text for contrast */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
/* Button Styles */
.button {
  background-color: #6b390b; /* Deep brown background */
  color: #ffffff; /* White text */
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #8c4b0f; /* Slightly lighter brown on hover */
}

.submit {
  margin-top: 10px; /* Add some space above the button */
}
/* Header */
.App-header {
  background-color: #ffffff; /* Soft yellow to match the Butter Chicken theme */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.App-header h1 {
  font-size: 2.5rem;
  margin: 10px 0;
  color: #6b390b; /* Deep brown for an earthy touch */
}

.App-header p {
  font-size: 1rem;
  color: #6b390b;
}

.Chai {
  height: 60px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
  margin-right: 15px; /* Space between image and heading */
}
